<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkapp.solardroid">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SolarDroidApplication"
        android:label="SolarDroid"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".ProjectListActivity"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:exported="false">
        </activity>
        <activity
            android:name=".CrashActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>
</manifest>
